* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  background-image: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url(./img/netflix-background2.jpg);
  overflow-y: hidden;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  color: white;
  /* background-color: aquamarine; */
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
}
header li {
  list-style-type: none;
}
header li a {
  text-decoration: none;
}

header img {
  width: 10%;
  /* height: 180px; */
  margin-left: 3em;
  cursor: pointer;
}
.top-nav {
  display: flex;
  margin-right: 1.5em;
  padding-right: 1em;
}
#languages {
  color: white;
  font-size: 1rem;
  background-color: transparent;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.4em;
  font-weight: 400;
  border-radius: 3px;
  width: fit-content;
}
#languages option {
  background-color: grey;
}
.top-nav button {
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  margin-left: 2em;
  background-color: #e50914;
  color: white;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}
.top-nav button a {
  color: white;
}
.banner-section {
  margin-top: 10em;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}
.banner-content {
  margin-left: 18em;
  margin-right: 18em;
}
.content {
  font-size: 2em;
}
.main-title {
  font-size: 4rem;
}
.subtitle {
  font-size: 1.625rem;
  font-weight: 400;
  padding-top: 0.5em;
}
.message {
  font-weight: 400;
  font-size: 1.2rem;
  padding-top: 1em;
}
.form {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.form input {
  /* padding-left: 16em;
  padding-right: 8em; */
  width: 35vw;
  padding-top: 1.1em;
  padding-bottom: 1.2em;
  margin-left: 3em;
  padding-left: 1em;
  border: none;

  /* border-radius: none; */
}

.form button {
  background-color: #e50914;
  padding-left: 1em;
  padding-right: 1em;
  /* padding-top: 0.5em;
  padding-bottom: 0.5em; */
  color: white;
  font-size: 2rem;
  border: none;
  font-weight: 400;
  cursor: pointer;
}
.form button :hover {
  background-color: #3c3b3b;
}

.division-line {
  margin-top: 10em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: rgb(61, 61, 61);
}

/*  ******************** SECTION 2 CSS ********************************/

.section2 {
  background-color: black;
  padding-top: 4em;
  padding-bottom: 4em;
}
.section2-heading {
  font-size: 3rem;
}
.section2-description {
  padding-top: 1em;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 300;
}
.section2-content {
  display: flex;
  justify-content: space-around;
  margin-left: 3em;
  margin-right: 3em;
}
.inner-content {
  width: 35%;
  padding-top: 9em;
  padding-left: 2em;
}
.TV-box img {
  /* border-color: aliceblue; */
  /* margin-right: 6em; */
  width: 530px;
  height: 397px;
  /* background-color: yellowgreen; */
}
.division-line2 {
  /* margin-top: 10em; */
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: rgb(61, 61, 61);
}

/* ***************************** SECTION 3 ******************** */

.inner-content2 {
  width: 40%;
  padding-top: 9em;
  padding-left: 2em;
}
.mobile-box img {
  width: 505px;
  height: 378px;
}

.inner-content3 {
  width: 40%;
  padding-top: 5em;
  padding-left: 0em;
  padding-right: 4em;
}

.section4 {
  background-color: black;
  /* justify-content: center;
  text-align: center; */
  padding-top: 2em;
  /* font-size: 1rem; */
}

/* ***********************ACCORDION SECTION************************** */
.accordion-body {
  background-color: black;
}
.faq-heading {
  /* padding-top: 1em; */
  padding-bottom: 1em;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
.accordion {
  width: 800px;
  margin: 0px auto;
  /* color: black; */
  /* background-color: white; */
  padding: 45px 1px;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
  background-color: #3c3b3b;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  /* padding: 10px 0; */
  padding: 0.7em;
  font-size: 1.8rem;
  /* color: black; */
  cursor: pointer;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label::before {
  content: "+";
  color: white;
  position: absolute;
  top: 50%;
  right: 0.5em;
  font-size: 3rem;
  transform: translateY(-50%);
  font-family: none;
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
  position: relative;
  /* background: white; */
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

/* Adds a horizontal line between the contents */

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

/* *
  Unhides
  the
  content
  part
  when
  active.
  Sets
  the
  height
  */
*/ .accordion .container.active .content {
  height: 150px;
}

/* Changes from plus sign to negative sign once active */

.accordion .container.active .label::before {
  content: "-";
  font-size: 30px;
}
